@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="card">
        <div class="card">
            <div class="card-body text-center">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" style="width: 100px; margin-top: -65px" alt="User" class="img-fluid img-thumbnail rounded-circle border-0 mb-3" />
                <h5 class="card-title">
                    <label id="lblName">@ViewBag.User.Name</label>
                </h5>
                <p class="text-secondary mb-1">@ViewBag.User.JobTitle</p>
                <p class="text-muted font-size-sm">@ViewBag.User.Department</p>
            </div>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">AdventureWorks</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="container" style="width:20%;margin-top:2%">
                    <div class="row mb-2">
                        <div class="col text-left">
                            <label>Department:</label>
                        </div>
                        <div class="col text-left">
                            @ViewBag.User.Department
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col text-left">
                            Hire Date:
                        </div>
                        <div class="col text-left">
                            @ViewBag.User.HireDate
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
        </div>
    </div>
</div>